<!DOCTYPE html>
<html lang="pt-BR">
<head>
	
	<meta name="robots" content="none" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	
	<title>Lulz Entertainment</title>

	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/960.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	
	<style>
       		body {
                display:none;
		}
        </style>
 
</head>
<body>

	<div class="container_12 box">	
	<!-- cabeçalho -->
		<div class="grid_12 topo alpha omega">
			<div class ="grid_3 logo">
				<a href="../index.html">The Lulz Boat</a>
			</div>

			<div class="grid_2 asimov">
				<img src="../img/simbol.png" alt="galactic_empire">
			</div>

			<nav class="grid_7 navbar">
				<a href="../blog/index.html" class="grid_2 button">Blog</a>
				<a href="../galeria/index.html" class="grid_2 button">Galeria</a>
				<a href="../colaboradores/index.html" class="grid_2 button">Colaboradores</a>
			</nav>
		</div>
	<!-- #fim_do_cabeçalho -->
	
	<!-- conteúdo -->
		<div class="grid_12 content alpha omega">
	<!-- conteúdo_dinâmico -->
			{{ content }}
	<!-- #fim_conteúdo_dinâmico -->
		</div>
	<!-- #fim_do_conteúdo -->

	<!-- rodapé -->
		<div class="grid_12 rodape alpha omega">
			<div class="grid_3 call">
				<p><strong>&copy; 2016 ChipNinjaPlay</strong></p>
			</div>

			<div class="grid_7 license">
					<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />
			</div>

			<div class="grid_2 share">
				<a href=""><img src="../img/facebook.jpg" alt="facebook"></a>
			</div>

		</div>	
	<!-- #fim_do_rodapé -->

	<!-- javascript de estilo -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src = "../app/main.js"></script>

	</div>
</body>
</html>
